---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


$sans-serif-font: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font: 'Merriweather', Georgia, serif;

$black: #000;
$off-black: #333;
$off-white: #fdfdfd;
$red: #c53702;
$light-grey: #ccc;
$yellow: #e2d700;
$dark-blue: #0f3287;

$base-font-family: $sans-serif-font;
$h-tags-font-family: $sans-serif-font;
$secondary-font-family: $serif-font;
$bookend-font: $sans-serif-font;

$base-text-color: $off-black;

$base-font-size: 20px;
$base-font-weight: 400;
$strong-font-weight: $base-font-weight * 1.5;
$line-height-ratio: 1.5;

$small-font-size: $base-font-size * 0.8;
$small-line-height: $small-font-size * $line-height-ratio;


$base-line-height: $base-font-size * $line-height-ratio;
$base-spacing-unit: 32px;

$h1-font-size: $base-font-size * 1.6;
$h1-line-height: $h1-font-size * $line-height-ratio;

$h2-font-size: $base-font-size * 1.4;
$h2-line-height: $h2-font-size * $line-height-ratio;

$h3-font-size: $base-font-size * 1.2;
$h3-line-height: $h3-font-size * $line-height-ratio;

$h4-font-size: $base-font-size;
$h4-line-height: $h4-font-size * $line-height-ratio;

$base-background-color: $off-white;

$base-head-font-family: $base-font-family;
$base-head-background-color: $off-black;
$base-head-text-color: $off-black;

$link-text-color: $base-text-color;
$link-highlight-color: #2b8cc4;

$site-bookend-background-color: $black;
$site-bookend-foreground-color: $off-white;
$site-bookend-font-family: $bookend-font;

$site-crosspagenav-font: $secondary-font-family;
$site-crosspagenav-background-color: $off-white;
$site-crosspagenav-foreground-color: $off-black;


// Width of the content area
$content-width:    740px;
$on-palm:          640px;
$on-laptop:        960px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "additional"
;
