---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$sans-serif-font: Helvetica, Arial, sans-serif;
$serif-font: Georgia, serif;

$black: #000;
$off-black: #333;
$off-white: #fdfdfd;
$red: #c53702;
$light-grey: #cccccc;
$yellow: #e2d700;
$dark-blue: #0f3287;

$base-font-family: $serif-font;
$secondary-font-family: $sans-serif-font;
$bookend-font: $sans-serif-font;

$base-text-color: $off-black;
$base-font-size:   22px;
$base-line-height: 38px;
$base-font-weight: 400;
$strong-font-weight: $base-font-weight * 4;

$small-font-size:  18px;
$small-line-height: 28px;

$base-spacing-unit: 32px;

$h1-font-size: $base-font-size * 1.8;
$h1-line-height: $base-font-size * 2;
$h2-font-size: $base-font-size * 1.6;
$h2-line-height: $base-font-size * 1.8;
$h3-font-size: $base-font-size * 1.4;
$h3-line-height: $base-font-size * 1.6;
$h4-font-size: $base-font-size * 1.2;
$h4-line-height: $base-font-size * 1.4;

$base-background-color: $off-white;

$base-head-font-family: $secondary-font-family;
$base-head-background-color: $off-black;
$base-head-text-color: $off-black;

$link-text-color: $base-text-color;
$link-highlight-color: #2b8cc4;

$site-bookend-background-color: $black;
$site-bookend-foreground-color: $off-white;
$site-bookend-font-family: $bookend-font;

$site-crosspagenav-font: $secondary-font-family;
$site-crosspagenav-background-color: $off-white;
$site-crosspagenav-foreground-color: $off-black;


// Width of the content area
$content-width:    960px;
$on-palm:          640px;
$on-laptop:        960px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "additional"
;
