---
layout: default
---

<div class="home">


    <ul class="post-list">
        {% for post in site.posts limit: 5 %}
        <li>

            <div class="post-header">
              <span class="post-meta">{{ post.date | date: "%-d %B %Y" }}</span>

              {% if page.url == "/" %}
                <h3 class="post-title">
              {% else %}
                <h2 class="post-title">
              {% endif %}
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              {% if page.url == "/" %}
                </h3>
              {% else %}
                </h2>
              {% endif %}

              </div>


        </li>
        {% endfor %}
    </ul>

    <p><a href="all-posts">View all posts &rarr;</a></p>

</div>
