<h1 class="post-title">Simon Wilson.</h1>

<p>Hi! I am a highly experienced and successful service, user experience and interaction designer and maker of people-centred digital things, with nearly twenty years' professional experience.</p>

<p>I believe design is a process to make things that work for people, by involving people. I design stimulus to test and learn from users, and understand from research and analysis to make things continually better – and by collaborating as a team.</p>

<p><strong>Work.</strong> Currently: 1. interaction designer on <a href="//beta.nhs.uk/">NHS beta</a>. Previously: 2. lead interaction designer at HMRC on their digital services, 3. freelancer, 4. creative and development director at <a href="//www.homeagency.co.uk">Home</a>, 5. studio director/chief operating officer at <a href="//www.bloomagency.co.uk">Bloom</a>, 6. creative manager at <a href="//en.wikipedia.org/wiki/Brass_(company)">Brahm</a>. <a href="//www.linkedin.com/in/siwilson/">Full CV on LinkedIn</a>.</p>

<p><strong>Community.</strong> Currently: 1. teach service design at <a href="//leedsgovjam.wordpress.com/">GovJam in Leeds</a>, 2. teach young people to design and make through technology and digital at <a href="//www.ticbradford.com/coderdojo">Bradford CoderDojo</a>, 3. lecture at Leeds Beckett university. Previous events include: 1. Leeds Digital Festival (2011–2012), 2. Leeds Digital Conference (2012), 3. Leeds Digital Lunches (2011–2015), and 4. <a href="//getintogaming.co.uk">Get into Gaming</a> with Sean Parker (2011–2013).</p>

<p>If you want to get in touch <a href="/contact">here are my contact details</a>.</p>

<p>I blog as well. Sorry in advance.</p>

<hr>

<h2 class="post-title">Most recent blog posts</h2>
