<h1 class="post-title">Simon Wilson.</h1>

<p>A highly experienced and successful strategist, designer – service, experience, product, and interaction design – and maker of people-centred digital things, with nearly twenty years' professional experience.</p>

<p>Design is a process involving people: Making things that work for people. That means learning and understanding through research and analysis, designing to make stimulus to test and revise, and collaborating as a team.</p>

<p>Currently I work as an interaction designer on <a href="//beta.nhs.uk">NHS beta</a>.</p>

<p>In recent years I worked: 1. at HMRC as an interaction designer on their digital services, 2. as a freelancer, 3. as creative and development director at Home, 4. as studio director/chief operating officer at Bloom. <a href="//www.linkedin.com/in/siwilson/">Full CV on LinkedIn</a>.</p>

<p>I believe in the strength of community and help run events: 1. teaching service design at <a href="//leedsgovjam.wordpress.com/">GovJam in Leeds</a>, and 2. engaging young people to design and make through technology and digital at <a href="//www.ticbradford.com/coderdojo">Bradford CoderDojo</a>. Previous events include: 1. Leeds Digital Festival (2011–2012), 2. Leeds Digital Conference (2012), 3. Leeds Digital Lunches (2011–2015), and 4. <a href="//getintogaming.co.uk">Get into Gaming</a> with Sean Parker (2011–2013).</p>

<p>If you want to get in touch <a href="/contact">here are my contact details</a>.</p>

<p>I blog as well.</p>

<h2 class="post-title">Most recent blog posts</h2>
