<footer class="site-bookend site-footer">

  <div class="wrapper">

        <p> Elsewhere: {% if site.twitter_username %}
            {% include twitter.html username=site.twitter_username %}
            {% endif %}
            {% if site.instagram_username %}
            {% include instagram.html username=site.instagram_username %}
            {% endif %}
            {% if site.linkedin_username %}
            {% include linkedin.html username=site.linkedin_username %}
            {% endif %}
            {% if site.speakerdeck_username %}
            {% include speakerdeck.html username=site.speakerdeck_username %}
            {% endif %}
            {% if site.github_username %}
            {% include github.html username=site.github_username %}
            {% endif %}
            {% if site.pinboard_username %}
            {% include pinboard.html username=site.pinboard_username %}
            {% endif %}
        </p>

  </div>

</footer>
