<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title }}</h2>-->


    <div class="footer-col-wrapper">

      <div class="footer-col">

        <p>
          <a href="https://github.com/ermlikeyeah/ermlikeyeah.github.io/blob/master/{{ page.path }}">View this page's source code</a> or <a href="https://github.com/ermlikeyeah/ermlikeyeah.github.io/issues/new?title=Issue%20with%20page%20{{ page.path }}">report an issue</a>.<br />
          <a class="rss-subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}">View this blog's RSS feed</a>.
        </p>

      </div>

    </div>

    <div class="footer-col-wrapper">


      <div class="footer-col">

          <p>{{ site.description }}</p>



        <ul class="footer-list">

          {% if site.twitter_username %}
          <li>
            {% include twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            {% include instagram.html username=site.instagram_username %}
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            {% include linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}

          {% if site.speakerdeck_username %}
          <li>
            {% include speakerdeck.html username=site.speakerdeck_username %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.pinboard_username %}
          <li>
            {% include pinboard.html username=site.pinboard_username %}
          </li>
          {% endif %}

        </ul>

      </div>

    </div>

  </div>

</footer>
