<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Public Design WY</title>
  <meta name="description" content="A regular meet-up in West Yorkshire for anyone who is interested in design and designing for the public.">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <meta property="og:site_name" content="Erm, like, yeah..." />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Public Design WY" />
  <meta property="og:description" content="A regular meet-up in West Yorkshire for anyone who is interested in design and designing for the public." />
  <meta name="og:image" content="http://www.ermlikeyeah.com/panel-image.gif" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Public Design WY" />
  <meta name="twitter:description" content="A regular meet-up in West Yorkshire for anyone who is interested in design and designing for the public." />
  <meta name="twitter:image" content="http://www.ermlikeyeah.com/panel-image.gif" />

</head>
