#### Intro

At the end of every week I take a little time to do a brain dump for myself. I believe in working in the open so I try to share some/most/all of my weekly brain dump as blog posts. (Coincidentally “make things open” is [a government design principle](https://www.gov.uk/guidance/government-design-principles#make-things-open-it-makes-things-better).) It is not always that straightforward.

Towards the end of January I moved to a new service at DWP Digital, working as a service designer. I am trying to share what I can. Some of these notes might be vague because I am being mindful of sensitivities. Apologies in advance if that stands out. I’d rather share some things than no things. :-)

If you are interested in doing your own week notes there is an excellent post by [Sam Villis](https://samvillis.com/2018/10/12/weeknote-styles/) to help you.
