/**
 * Previous and Next styling
 */
.CrossPageNavigation {
    background-color: $site-crosspagenav-background-color;
    font-family: $site-crosspagenav-font;
    font-size: $base-font-size;
    color: $site-crosspagenav-foreground-color;
    @include media-query($on-palm) {
    font-size: $base-font-size*0.8;
    }
}
.CrossPageNavigationPrevious {
    max-width: 40%;
    float: left;
    margin-bottom: $base-spacing-unit*1;
    @include media-query($on-palm) {
        width: 100%;
        max-width: 100%;
    }
}
.CrossPageNavigationNext {
    max-width: 40%;
    float: right;
    margin-bottom: $base-spacing-unit*1;

    @include media-query($on-palm) {
        width: 100%;
        max-width: 100%;
    }
}
