/**
 * Previous and Next styling
 */
.CrossPageNavigation {
    background-color: $site-crosspagenav-background-color;
    font-family: $site-crosspagenav-font;
    color: $site-crosspagenav-foreground-color;
    padding-bottom: $base-spacing-unit*3;
    margin-bottom: $base-spacing-unit*2;

}
.CrossPageNavigationPrevious {
    max-width: 40%;
    float: left;
    @include media-query($on-palm) {
        font-size: $small-font-size;
        line-height: $small-line-height;
    }
}
.CrossPageNavigationNext {
    max-width: 40%;
    float: right;
    @include media-query($on-palm) {
        font-size: $small-font-size;
        line-height: $small-line-height;
    }
}
