/**
 * Previous and Next styling
 */
 .PageNavigation {

   font-size: $base-font-size * 0.5;

   @include media-query($on-laptop) {
     font-size: $base-font-size * 0.85;
     line-height: $base-line-height * 0.85;
  }
}


 .PageNavigationPrevious {
   max-width: 40%;
   float: left;

   font-size: $base-font-size;

   @include media-query($on-laptop) {
     font-size: $base-font-size * 0.85;
     line-height: $base-line-height * 0.85;
  }


 }

 .PageNavigationNext {
   max-width: 40%;
   float: right;
   font-size: $base-font-size;

   @include media-query($on-laptop) {
     font-size: $base-font-size * 0.85;
     line-height: $base-line-height * 0.85;
  }

 }

 .PageNavDate {
   font-size: $small-font-size;
   color: $grey-color;
 }

.GitHubLink {
  margin: 30px 0 0 0;
  font-size: $small-font-size;
  text-align: right;
}

.stickers ul {
  display: inline;

}

.stickers li {
  width: 45%;
  list-style-type: none;
   padding: 10px;
   display: inline-block;

}
