/**
 * Reset some basic elements
 */
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}
/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $base-text-color;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    @include media-query($on-palm) {
      font-size: $base-font-size*0.8;
      line-height: $base-line-height*0.8;
    }
    background-color: $base-background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm,
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
    margin-bottom: $base-spacing-unit*1;
}
/**
 * Images
 */
img {
    max-width: 105%;
    vertical-align: middle;
    overflow: auto;
    @include media-query($on-laptop) {
      max-width: 100%;
    }
}
/**
 * Figures
 */
figure > img {
    display: block;
}
figcaption {
    font-size: $small-font-size;
}
/**
 * Lists
 */
ol,
ul {
    margin-left: $base-spacing-unit;
}
li {
    padding-left: $base-spacing-unit*0.25;
    padding-bottom: $base-spacing-unit*0.25;
    @include media-query($on-palm) {
        padding-left: $base-spacing-unit*0.25;
        padding-bottom: $base-spacing-unit*0.25;
    }
}
/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $base-head-font-family;
}
h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
    margin-bottom: $h1-font-size;
    font-weight: $base-font-weight*1.5;
    @include media-query($on-palm) {
      font-size: $h1-font-size*0.8;
      line-height: $h1-line-height*0.8;
    }
}
h2 {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    margin-bottom: $h2-font-size;
    font-weight: 400;
    @include media-query($on-palm) {
      font-size: $h2-font-size*0.8;
      line-height: $h2-line-height*0.8;
    }
}
h3 {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
    margin-bottom: $h3-font-size;
    font-weight: 600;
    @include media-query($on-palm) {
      font-size: $h3-font-size*0.8;
      line-height: $h3-line-height*0.8;
    }
}
h4 {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
    margin-bottom: $h4-font-size;
    font-weight: 600;
    @include media-query($on-palm) {
      font-size: $h4-font-size*0.8;
      line-height: $h4-line-height*0.8;
    }
}

/**
 * Links
 */
a {
    color: $link-text-color;
    text-decoration: underline;
    &:visited {
        color: $link-text-color;
    }
    &:hover {
        color: $link-highlight-color;
        text-decoration: underline;
        background: #dee0e2;
    }
}
/**
 * Strong tag
 */
strong {
    font-weight: $base-font-weight*4;
}
/**
 * Blockquotes
 */
blockquote {
    font-family: $secondary-font-family;
    color: $base-text-color;
    margin: 40px 0;
    border-left: 4px solid $base-text-color;
    padding-left: $base-spacing-unit;
    letter-spacing: 0;
    font-style: none;
    > :last-child {
        margin-bottom: 0;
    }
    @include media-query($on-palm) {
      font-size: $base-font-size*0.8;
      line-height: $base-line-height*0.8;
    }
}
hr {
  width:25%;
  margin: $base-spacing-unit*2 0;
  border-top: 4px solid $light-grey;
}
/**
 * Code formatting
 */
code,
pre {
    border: 1px solid $off-black;
    border-radius: 3px;
    background-color: $off-white;
}
code {
    padding: 1px 5px;
}
pre {
    padding: 8px 12px;
    overflow-x: auto;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$base-spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$base-spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $base-spacing-unit;
    padding-left: $base-spacing-unit;
    @extend %clearfix;
    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$base-spacing-unit}));
        max-width: calc(#{$content-width} - (#{$base-spacing-unit}));
        padding-right: $base-spacing-unit / 2;
        padding-left: $base-spacing-unit / 2;
    }
}
/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
