/**
 * Site header and footer styling
 */
.site-bookend {

    padding: $base-spacing-unit*0.5 0;
    font-family: $site-header-font-family;
    background-color: $site-header-background-color;
    color: $site-header-foreground-color;
    font-size: $base-font-size;

    // Positioning context for the mobile navigation icon
    position: relative;

    a {
        text-decoration: underline;
        font-weight: $base-font-weight;
        text-transform: none;
        color: $off-white;


        &:visited {
            color: $off-white;
        }

        &:hover {
            color: $off-white;
            text-decoration: underline;
        }
    }

}

.site-title {

    line-height: $base-line-height;
    margin-bottom: 0;
    float: left;

}

.site-nav {
    float: right;
    line-height: $base-line-height;


        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }


/**
 * Page header
 */
.page-header {
  background-color: $base-head-background-color;

  color: $base-head-text-color;
  padding: $base-spacing-unit*3 0 $base-spacing-unit 0;

}


/**
 * Page content
 */
.page-content {
    padding:  $base-spacing-unit 0 ;
    width: 66%;
    @include media-query($on-palm) {
      width: 100%;
    }

}


.page-meta {
    font-size: $base-font-size;
    color: $off-white;
    font-weight: $base-font-weight;
}
