/**
 * Site header and footer styling
 */
.site-bookend {
    padding: $base-spacing-unit*0.5 0;
    font-family: $bookend-font;
    background-color: $site-bookend-background-color;
    color: $site-bookend-foreground-color;
    font-size: $small-font-size;
    @include media-query($on-palm) {
        font-size: $base-font-size*0.8;
    }
    // Positioning context for the mobile navigation icon
    position: relative;
    a {
        text-decoration: underline;
        font-weight: $base-font-weight;
        text-transform: none;
        color: $off-white;
        &:visited {
            color: $off-white;
        }
        &:hover {
            color: $black;
            text-decoration: underline;
            background-color: #2b8cc4;
        }
    }
}
.site-title {
    line-height: $base-line-height;
    margin-bottom: 0;
    float: left;
}
.site-nav {
    float: right;
    line-height: $base-line-height;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
        margin-right: 20px;
    }
    a {
      margin-left: $base-spacing-unit*0.5;
    }
}
/**
 * Site and page bottom padding
 */
.site-footer {
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit*4;
}
/**
 * Page header
 */
.page-header {
    color: $base-head-text-color;
    padding: $base-spacing-unit*2 0 0 0;
}
/**
 * Page content
 */
.page-content {
    padding: $base-spacing-unit 0;
    width: 66%;
    @include media-query($on-palm) {
        width: 100%;
    }
}
.page-meta {
    font-size: $small-font-size;
    color: $off-black;
    font-weight: $base-font-weight;
}
.smaller-type {
    font-size: $small-font-size;
}
