/**
 * Site header and footer styling
 */
.site-bookend {
    padding: $base-spacing-unit*0.5 0;
    font-size: $base-font-size;
    @include media-query($on-palm) {
        font-size: $base-font-size*0.8;
    }
    // Positioning context for the mobile navigation icon
    position: relative;

    // Font colours
    color: $site-bookend-foreground-color;

    a {
      color: $site-bookend-foreground-color;
      // text-decoration: none;
      &:hover {
          color: $site-bookend-background-color;
      }

    }
}
.site-title {
//    line-height: $base-line-height;
    margin-bottom: 0;
    float: left;
    a {
      font-weight: 600;
      text-decoration: none;
    }
}
.site-nav {
    float: right;
//    line-height: $base-line-height;
    font-weight: 400;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
        margin-right: 20px;
    }
    a {
      margin-left: $base-spacing-unit*0.5;
    }
}
/**
 * Site and page header padding
 */
.site-header {
  background: $base-head-background-color;
  font-family: $bookend-font;
  // border-bottom: 4px solid $light-grey;
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;
  @include media-query($on-palm) {
    padding-top: $base-spacing-unit*0.8;
    padding-bottom: $base-spacing-unit*0.8;
  }
}
/**
 * Site and page bottom padding
 */
.site-footer {
  // border-top: 4px solid $light-grey;
  background: $base-head-background-color;
  margin-top: $base-spacing-unit;
  padding-top: $base-spacing-unit;
  font-family: $sans-serif-font;
  font-size: $small-font-size;
  line-height: $small-line-height;
  @include media-query($on-palm) {
    margin-top: $base-spacing-unit*0.8;
    padding-top: $base-spacing-unit*0.8;
  }
}
/**
 * Page header
 */
.page-header {
    color: $base-head-text-color;
    padding: $base-spacing-unit*2 0 0 0;
    margin: auto;
    @include media-query($on-palm) {
        width: 100%;
    }
}
/**
 * Page content
 */
.page-content {
    padding: 0 0 $base-spacing-unit 0;
    margin: auto;
    @include media-query($on-palm) {
        width: 100%;
    }
}
.page-meta {
    font-size: $small-font-size;
    color: $off-black;
    font-weight: $base-font-weight;
}
.smaller-type {
    font-size: $small-font-size;
}
