/**
 * Site header and footer styling
 */
.site-bookend {
    padding: $base-spacing-unit*0.5 0;
    font-family: $bookend-font;
    font-size: $base-font-size;
    font-weight: $base-font-weight*2;

    @include media-query($on-palm) {
        font-size: $base-font-size*0.8;
    }
    // Positioning context for the mobile navigation icon
    position: relative;

}
.site-title {
    line-height: $base-line-height;
    margin-bottom: 0;
    float: left;
}
.site-nav {
    float: right;
    line-height: $base-line-height;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
        margin-right: 20px;
    }
    a {
      margin-left: $base-spacing-unit*0.5;
    }
}
/**
 * Site and page header padding
 */
.site-header {
  border-bottom: 4px solid $off-black;
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;
  @include media-query($on-palm) {
    padding-top: $base-spacing-unit*0.8;
    padding-bottom: $base-spacing-unit*0.8;
  }
}
/**
 * Site and page bottom padding
 */
.site-footer {
  border-top: 4px solid $off-black;
  margin-top: $base-spacing-unit;
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;
  @include media-query($on-palm) {
    margin-top: $base-spacing-unit*0.8;
    padding-top: $base-spacing-unit*0.8;
    padding-bottom: $base-spacing-unit*0.8;
  }
}
/**
 * Page header
 */
.page-header {
    color: $base-head-text-color;
    padding: $base-spacing-unit*2 0 0 0;
    margin: auto;
    width:80%;
    @include media-query($on-palm) {
        width: 100%;
    }
}
/**
 * Page content
 */
.page-content {
    padding: 0 0 $base-spacing-unit 0;
    margin: auto;
    width: 80%;
    @include media-query($on-palm) {
        width: 100%;
    }
}
.page-meta {
    font-size: $small-font-size;
    color: $off-black;
    font-weight: $base-font-weight;
}
.smaller-type {
    font-size: $small-font-size;
}
