---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</time>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {{ page.categories | join ', ' }}

  <div class="PageNavigationLeftArrow"></div>
  <div class="PageNavigationPrevious">
    {% if page.previous.url %}
    <strong>&larr; Previous post</strong><br />
      <div class="PageNavDate">{{page.previous.date  | date: "%b %-d, %Y"}}</div>
      <a href="{{page.previous.url}}">{{page.previous.title}}</a>
    {% endif %}
  </div>
  <div class="PageNavigationNext">
    {% if page.next.url %}
    <strong>Next post &rarr;</strong><br />
    <div class="PageNavDate">{{page.next.date  | date: "%b %-d, %Y"}}</div>
      <a href="{{page.next.url}}">{{page.next.title}}</a>
    {% endif %}
  </div>

  {% if page.comments != false %}

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <div id="disqus_thread"></div>
  <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
       */

      var disqus_config = function () {
          this.page.url = "{{ page.url  |  prepend: site.baseurl | prepend: site.url }}";  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() {  // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//ermlikeyeah.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  {% endif %}


</article>
