---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <div class="wrapper">
    <div class="page-header">

      <time datetime="{{ page.date | date_to_xmlschema }}" class="page-meta">{{ page.date | date_to_long_string }}</time>
      <h1 >{{ page.title }}</h1>

    </div>
  </div>

  <div class="wrapper">

  <div class="page-content">
  {{ content }}
  </div>

  {% if post.tags.size > 0 %}
    Tag{% if post.tags.size > 1 %}s{% endif %}:
    {{ post.tags | sort | join: ", " }}
  {% endif %}
  
  <div class="CrossPageNavigation">
  <div class="CrossPageNavigationPrevious">
    {% if page.previous.url %}
    <strong>&larr; Previous post</strong><br />
      <a href="{{page.previous.url}}">{{page.previous.title}}</a>
    {% endif %}
  </div>
  <div class="CrossPageNavigationNext">
    {% if page.next.url %}
    <strong>Next post &rarr;</strong><br />
      <a href="{{page.next.url}}">{{page.next.title}}</a>
    {% endif %}
  </div>
  </div>

</div>

</article>
