---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <div class="page-header">

    <div class="wrapper">

      <h1 >{{ page.title }}</h1>

      <time datetime="{{ page.date | date_to_xmlschema }}" class="page-meta">{{ page.date | date_to_long_string }}</time>

    </div>

  </div>

  <div class="wrapper">

  <div class="page-content">
  {{ content }}
  </div>

  <div class="CrossPageNavigation">
  <div class="CrossPageNavigationLeftArrow"></div>
  <div class="CrossPageNavigationPrevious">
    {% if page.previous.url %}
    <strong>&larr; Previous post</strong><br />
      <a href="{{page.previous.url}}">{{page.previous.title}}</a>
    {% endif %}
  </div>
  <div class="CrossPageNavigationNext">
    {% if page.next.url %}
    <strong>Next post &rarr;</strong><br />
      <a href="{{page.next.url}}">{{page.next.title}}</a>
    {% endif %}
  </div>
  </div>

</div>

</article>
